@tailwind base;
@tailwind components;
@tailwind utilities;
@agrcolors;

  /* Urbanist */
  @font-face {
    font-family: "Urbanist";
    src: url("./fonts/urbanist/Urbanist-Regular.otf");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "Urbanist";
    src: url("./fonts/urbanist/Urbanist-SemiBold.otf");
    font-weight: 600;
    font-style: normal;
  }
  @font-face {
    font-family: "Urbanist";
    src: url("./fonts/urbanist/Urbanist-Black.otf");
    font-weight: 900;
    font-style: normal;
  }
  @font-face {
    font-family: "Urbanist";
    src: url("./fonts/urbanist/Urbanist-Light.otf");
    font-weight: 300;
    font-style: normal;
  }

  /* Montserrat */
  @font-face {
    font-family: "Montserrat";
    src: url("./fonts/montserrat/Montserrat-Regular.otf");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "Montserrat";
    src: url("./fonts/montserrat/Montserrat-Italic.otf");
    font-weight: normal;
    font-style: italic;
  }
  @font-face {
    font-family: "Montserrat";
    src: url("./fonts/montserrat/Montserrat-Bold.otf");
    font-weight: bold;
    font-style: normal;
  }
  @font-face {
    font-family: "Montserrat";
    src: url("./fonts/montserrat/Montserrat-Medium.otf");
    font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: "Montserrat";
    src: url("./fonts/montserrat/Montserrat-ExtraBold.otf");
    font-weight: 800;
    font-style: normal;
  }

.visibility-hidden {
  visibility: hidden;
}

@layer base {
    html {
      font-family: Urbanist, system-ui, sans-serif;
    }
  }

@import url("agrcolors.css");
@import url("agrassets.css");

.font-family-league {
  font-family: Montserrat;
  font-weight: 700;
}

button {
  font-family: Montserrat;
  font-weight: 700;
}